.header {
    background-color: var(--primary-light-color);
    width: 1280px;
    position: fixed;
    z-index: 1;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 16px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem 1.25rem;

    .logo img {
        height: 48px;
    }

    .menu-toggle {
        display: none;
    }

    .menu-icon {
        width: 30px;
        height: 30px;
        display: none;
        cursor: pointer;
        z-index: 1;

        img {
            width: 100%;
            height: 100%;
            transition: opacity 0.3s ease;
        }

        &:hover img {
            opacity: 0.7;
        }
    }

    .nav-container {
        display: flex;
        justify-content: space-between;
        width: 80%;
        align-items: center;
    }

    .nav__list {
        display: flex;
        align-items: center;
        gap: 2.5rem;
    }

    .nav__link {
        font-size: 1.25rem;
        color: var(--primary-dark-color);

        &:hover {
            color: #7c3aed;
        }
    }

    .nav-right {
        img {
            height: 23px;
        }

        .nav__link:hover img {
            opacity: 0.7;
        }
    }
}

@media (max-width: 1330px) {
    .header {
        width: calc(100% - 40px);
    }
}

@media (max-width: 1000px) {
    .header {
        .menu-icon {
            display: block;
        }

        .nav-container {
            position: fixed;
            top: 0;
            right: -100%;
            width: 200px;
            flex-direction: column;
            padding: 70px 20px 15px;
            background-color: var(--primary-light-color);
            gap: 2rem;
            transition: right 0.3s ease-in-out;
            border-radius: 20px;
        }

        .nav__list {
            flex-direction: column;
            gap: 1.5rem;
        }

        .nav__link {
            padding: 0.3rem 0;
            font-size: 1rem;
        }

        .menu-toggle:checked {
            ~.menu-icon img {
                opacity: 0.6;
            }

            ~.nav-container {
                right: 0;
            }
        }
    }
}