.categories-section {
    display: flex;
    flex-wrap: wrap;
    gap: 1.8rem;
    justify-content: space-evenly;
    align-items: center;
    padding: 2.5rem 0;
}

.category-card,
.category-card .overlay {
    width: 315px;
    height: 500px;
    border-radius: 20px;
}

.category-card {
    position: relative;
}

.category-card.casual {
    background: url(../../../images/products/categories-section/casual-sneaker.jpg) no-repeat center center/cover;
}

.category-card.sport {
    background: url(../../../images/products/categories-section/sport-sneaker.jpg) no-repeat center center/cover;
}

.category-card.modern {
    background: url(../../../images/products/categories-section/modern-sneaker.jpg) no-repeat center center/cover;
}

.category-card.futurist {
    background: url(../../../images/products/categories-section/futurist-sneaker.jpg) no-repeat center center/cover;
}

.category-card .overlay {
    background-color: rgba(0, 0, 0, 0.25);
}

.category-title {
    padding: 0.65rem 2.3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 684px) {
    .category-card,
    .category-card .overlay {
        width: 100%;
    }
}