@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --primary-font: 'Ubuntu', sans-serif;
    --primary-light-color: #EDEDED;
    --primary-dark-color: #333333;
    --primary-font-weight: 400;
    --primary-transition: all 0.2s cubic-bezier(0, 0, 0.59, 0.28);
}